*, *::after, *::before{
	box-sizing: border-box;
}
.container{
	max-width: 400px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.container > img{
	object-fit: cover;
	width: 100%;
	display: block;
}
.container .tiger{
	position: absolute;
	width: 0%;
	height: 100%;
	left: 0;
	top: 0;
	object-position: 0 0;
}